
    * {
        box-sizing: border-box;
    }
    body{
        margin:0px 0px 0px 0px;
    
    }
     html,body{
        overflow-x:hidden;
    }
    a{
        text-decoration: none;
        color:black
    }
    .fa-arrow-left{
        font-size:40px;
        color:black;
    }
    .arrow{
        width:20%;
        border:2px solid pink;
    
    }
    .header{
        width:60%;
        padding-left: 5%;
        padding-right:10%;
        padding-top:12px;
        margin-bottom:10px;
        background-color: yellow;
    }
    .logo{
        height:65px;
        width:80%;
        margin-left:0%;
        margin-right:15%;
        border:2px solid green;
    }
    .menu1img{
        width:100%;
        height:450px;
        margin-top:-1%;
        position:relative;
        left:0;
    }
    .mimg1{
        width:100%;
        height:400px;
        object-fit: cover;
    }
    .homebutton{
        display:flex;
        flex-direction: row;
    }
    .typedish{
        width:100%;
        border:2px solid red;
    }
    .block2{
        width:100%;
        display:flex;
        flex-direction: row;
    }
    
    .fa-arrow-left{
        font-size:20px;
        color:black;
        align-content: center;
        margin-top:90%;
        margin-left:100%;
        margin-right:-20%;
    }
    .menu1img{
        width:100%;
        height:250px;
        margin-top:-1%;
        position:relative;
        left:0;
    }
    .mimg1{
        width:100%;
        height:300px;
        object-fit: fill;
    }
    .homebutton{
        display:flex;
        flex-direction: row;
    }
    /* menu container*/
    .fa-heart{
        color:mediumorchid;
        font-size:22px;
    
    }
    
    .far{
        color:black;
    }
    .animatedheart{
        width:10%;
        height:25px;
      }
      .animatedheart .mainheart{
        width:100%;
        height:25px;
        visibility:hidden;
       /* border:2px solid green;*/
      }
      .animatedheart:focus,
      .animatedheart:hover .mainheart{
        visibility: visible;
        animation:heart 1s;
      }
       .dupheart{
        width:100%;
        height:25px;
        /*border:2px solid black;*/
        position:relative;
        bottom:110%;
      }
    .menuhead{
        width:70%;
        font-family: shrikhand;
        font-size:25px;
        font-weight:700;
        margin-left: 7%;
        margin-bottom:0%;
        border:2px solid blue;
    }
    .menubox{
        width:100%;
        background-color:#f2f2f2;
        padding-top:10%;
        /*padding-left: 3%;
        padding-right:4%;*/
        padding-bottom:25%;
        display:flex;
        flex-direction: row;
    }
    .sideh{
        width:10%;
        font-size:14px;
        color:black;
        margin-left:7%;
        margin-top:10%;
        margin-bottom:5%;
        border-bottom:3px solid #99e2d0;
    }
    .sideh2{
        width:10%;
        white-space:nowrap ;
        font-size:14px;
        color:black;
        margin-left:7%;
        margin-top:10%;
        margin-bottom:5%;
        display:flex;
        flex-flow:row wrap;
        border-bottom:3px solid #99e2d0;
        overflow:visible;
    }
    /*starter menu buttons*/
    .starline1{
        width:100%;
        height:40%;
        font-family: roboto;
        font-size:16px;
        font-weight:600;
    }
    .starline2{
        width:85%;
        font-size:15px;
    }
    .starline3{
        width:15%;
        font-weight: 600;
    }
    
    .card{
        width:90%;
        height:75px;
        display:flex;
        flex-flow:row wrap;
        margin-left:4%;
        margin-right:4%;
        margin-bottom:4%;
        border-radius:15px;
        border:2px solid #f2f2f2;
    }
     .card .main{
        width:100%;
        height:70px;
        display: flex;
        flex-direction: column;
        border:2px solid #f2f2f2;
        background-color: white;
        border-radius: 15px;
        padding-left:3%;
        margin-bottom:-20%;
        
    }
    .main .maindup{
    width:100%;
    height:70px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding-left:3%;
    margin-bottom:-20%;
    position:relative;
    bottom:95%;
    right:3%;
    visibility:hidden;
    
    }
    .main:focus,
    .main:hover .maindup{
        visibility:visible;
    }
    .secondline{
        width:100%;
        height:40%;
        display:flex;
        margin-top:-5%;
        margin-bottom:3%;
    }
    .secondlinedup{
        width:80%;
        display:flex;
        margin-top:-5%;
        margin-bottom:3%;
    }
    
    /*chekbutton...*/
    .checkmark{
        background-color: white;
        border:2px solid #99e2d0;
        width:8%;
        height:23px;
        border-radius: 90px;
        padding-top:2px;
        position:relative;
        left:65%;
        top:30%;
        visibility: hidden;
        }
    .card:hover .checkmark{
        visibility: visible;
        animation:rotating 2s,slideme 1s;
    
    }
     .fa-check{
        color:#99e2d0;
    }
    .card .checkbtni{
        width:20%;
        height:70px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color:#99e2d0;
        padding-top:6%;
        padding-left:7%;
        margin-top:5%;
        position:relative;
        left:80%;
        bottom:29%;
      visibility:hidden;
    }
    .card:hover .checkbtni{
        visibility: visible;
        animation:slideme 1s; 
    }
    a.btn2{
        display:flex;
        width: 60%;
        height: 60px;
        border-width: thin;
        border: 1px solid lightgray;
        background-image:linear-gradient(to top,#9356dc, #FF79DA);
        border-radius: 50px;
        padding-left:22%;
        padding-right:22%;
        padding-top:5%;
        text-decoration: none;
        font-family:roboto;
        font-weight:400;
        font-size:18px;
        color:white;
        margin-left:20%;
        margin-right:20%;
        margin-top:10%;
}
