
/*Menu Page 1*/
* {
	box-sizing: border-box;
}
body{
    margin:0px 0px 0px 0px;

}
 html,body{
    overflow-x:hidden;
}
a{
    text-decoration: none;
    color:black
}
.fa-arrow-left{
    font-size:20px;
    color:black;
    align-content: center;
    margin-top:90%;
    margin-left:100%;
    margin-right:-20%;
}
.header{
    width:100%;
    padding-left: 10%;
    padding-right:10%;
    padding-top:12px;
    margin-bottom:10px;
    /*background-color: yellow;*/
}
.logo{
    height:35px;
    width:80%;
    margin-left:10%;
    margin-right:10%;
}
.menu1img{
    width:100%;
    height:250px;
    margin-top:-1%;
    position:relative;
    left:0;
}
.mimg1{
    width:100%;
    height:200px;
    object-fit: cover;
}
.homebutton{
    display:flex;
    flex-direction: row;
}
/* menu container*/
.block2{
    width:100%;
    display:flex;
    flex-direction: row;
    gap:50%;
}

.fa-arrow-left{
    font-size:20px;
    color:black;
    align-content: center;
    margin-top:90%;
    margin-left:100%;
    margin-right:-20%;
}
.menu1img{
    width:100%;
    height:250px;
    margin-top:-1%;
    position:relative;
    left:0;
}
.mimg1{
    width:100%;
    height:300px;
    object-fit: fill;
}
.homebutton{
    display:flex;
    flex-direction: row;
}
/* menu container*/
.menuhead{
    font-family: shrikhand;
    font-size:25px;
    font-weight:700;
    margin-left: 7%;
    margin-bottom:0%;
}
.menubox{
    width:100%;
    background-color:#f2f2f2;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position:relative;
    top:35%;
    padding-top:10%;
    /*padding-left: 3%;
    padding-right:4%;*/
    padding-bottom:25%;
    display:flex;
    flex-direction: column;
}
.sideh{
    width:10%;
    font-size:14px;
    color:black;
    margin-left:7%;
    margin-top:10%;
    margin-bottom:5%;
    border-bottom:3px solid #99e2d0;
}
.sideh2{
    width:25%;
    font-size:14px;
    color:black;
    margin-left:7%;
    margin-top:10%;
    margin-bottom:5%;
    border-bottom:3px solid #99e2d0;
    overflow:visible;
}
/*starter menu buttons*/
.starline1{
    font-family: roboto;
    font-size:16px;
    font-weight:600;
}
.starline3{
    font-weight: 600;
}
.card{
    width:90%;
    height:75px;
    display:flex;
    flex-flow:row wrap;
    margin-left:4%;
    margin-right:4%;
    margin-bottom:4%;
    border:2px solid red;
    border-radius:15px;
}
 .card .main{
    width:100%;
    height:70px;
    display: flex;
    flex-direction: column;
    border:2px solid #f2f2f2;
    background-color: white;
    border-radius: 15px;
    padding-left:3%;
    /*margin-top:5%;*/
    margin-bottom:-20%;
    /*overflow:hidden;*/
    border:2px solid blue;
    
}
.main .maindup{
width:100%;
height:70px;
display: flex;
flex-direction: column;
border:2px solid #f2f2f2;
background-color: white;
border-radius: 15px;
padding-left:3%;
/*margin-top:5%;*/
margin-bottom:-20%;
position:relative;
bottom:95%;
right:3%;
/*overflow:hidden;*/
border:2px solid green;
visibility:hidden;

}
.main:focus,
.main:hover .maindup{
    visibility:visible;
}
.secondline{
    display:flex;
    gap:52%;
    margin-top:-5%;
    margin-bottom:3%;
}
.secondlinedup{
    display:flex;
    gap:30%;
    margin-top:-5%;
    margin-bottom:3%;
}
.secondline2s{
    display:flex;
    gap:16%;
    margin-top:-5%;
    margin-bottom:3%;
}
.secondline3s{
    display:flex;
    gap:67%;
    margin-top:-5%;
    margin-bottom:3%;
}
.secondline1m{
    display:flex;
    gap:42%;
    margin-top:-5%;
    margin-bottom:3%;
}
.secondline2m{
    display:flex;
    gap:41%;
    margin-top:-5%;
    margin-bottom:3%;
}
.secondline3m{
    display:flex;
    gap:35%;
    margin-top:-5%;
    margin-bottom:3%;
}
.secondline1d{
    display:flex;
    gap:42%;
    margin-top:-5%;
    margin-bottom:3%;
}
.secondline3d{
    display:flex;
    gap:25%;
    margin-top:-5%;
    margin-bottom:3%;
}
/*chekbutton...*/
.checkmark{
    background-color: white;
    border:2px solid #99e2d0;
    width:50%;
    height:25px;
    border-radius: 90px;
    padding-top:2px;

}
.card .checkbtni .fa-check{
    color:#99e2d0;
    /*transition-duration:4s;
    transform: rotate(360deg);*/
    animation: rotating 4s infinite;
}
.card .checkbtni:hover .fa-check{
    animation: rotating 4s ;
}
.card .checkbtni{
    width:20%;
    height:70px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:#99e2d0;
    padding-top:6%;
    padding-left:7%;
    margin-top:5%;
    position:relative;
    left:80%;
    bottom:25%;
    visibility:hidden; 
}
.container{
    border: 2px solid red;
    width:95%;
    height:73px;
}
.card:hover .checkbtni{
    visibility: visible;
    animation:1s slideme; 
}
a.btn2{
    display:flex;
    width: 60%;
    height: 60px;
    border-width: thin;
    border: 1px solid lightgray;
    background-image:linear-gradient(to top,#9356dc, #FF79DA);
    border-radius: 50px;
    padding-left:22%;
    padding-right:22%;
    padding-top:5%;
    text-decoration: none;
    font-family:roboto;
    font-weight:400;
    font-size:18px;
    color:white;
    margin-left:20%;
    margin-right:20%;
    margin-top:10%;
}
/*menu animation*/
#s1{
    animation:menuanimation 2s ;
    animation-fill-mode: top;
    animation-delay: 1s;
}
#s2{
    animation:menuanimation 4s ;
}
#s3{
    animation:menuanimation 6s ;
}
/*footer section*/
.one{
    font-family: shrikhand;
    font-style: bold;
    font-weight: 900;
    font-size:30px;
    color:white;
    text-decoration: none;
}
.last{
    width:100%;
    margin-top:1%;
    background-color: black;
    opacity: 0.7;
    padding-left:8%;
    padding-top:2%;
    padding-bottom: 4%;
}
a{
    display: block;
}
.fa-cutlery{
    font-size:20px;
    color:white;
}
.fa-handshake{
    font-size:20px;
    color:white;
     transform: rotate(130deg);
     margin-top:8%;
}
.text{
    font-family: roboto;
    font-style:bold;
    font-weight:900;
    color:white;
    font-size: 20px;
    margin-left:5%;
}
.text1{
    font-family: roboto;
    font-style:bold;
    font-weight:900;
    color:white;
    font-size: 20px;
    margin-left:3%;
    margin-top:4%;
}
.text2{
    font-family: roboto;
    font-style:bold;
    font-weight:900;
    color:white;
    font-size: 20px;
    margin-left:1%;
}
@keyframes slideme{
  0%{
    transform: translateX(100px);
  }
}
@keyframes rotating{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes menudisplay{
    0%{
      opacity:0;
    }
    30%{
      opacity:0;
    }
    60%{
        opacity:0.7;
    }
    100%{
        opacity:1;
    }
    
  }