* {
	box-sizing: border-box;
}
body{
    margin:0px 0px 0px 0px;
    border:2px solid black;
}
.loader{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background:#333333;
    z-index: 9999999;
}
.loader::before{
    content:"";
    width:75px;
    height:75px;
    border:15px solid #dddddd;
    border-top-color:#009578;
    border-radius: 50%;
    animation:loading 0.75s ease 6;

}

@keyframes loading{
    0%{
        transform:rotate(0turn);
    }
    100%{
        transform:rotate(1turn); 
    }
}
/* Mobile responsive mode*/
@media screen and (min-width:320px) and (max-width:750px){
    /*heading logo*/
    .header{
        width:100%;
        padding-left: 10%;
        padding-right:10%;
        padding-top:12px;
        margin-bottom:10px;
        /*background-color: yellow;*/
    }
    .logo{
        height:35px;
        width:80%;
        margin-left:10%;
        margin-right:10%;
    }
     /*map Icon with inputfield */
    .fas {
        background-color: lightgray;
        font-size:18px;
        width:100%;
        padding:12px;
        border-width: thin;
        border-color: #D3D3D3;
    }
    
    .input-icons {
        font-size:14px;
        width: 20%;
        border-width: thin;
        position: relative;
        top:2%;
        padding-left: 5%;
    }
    
    .input-field {
        width: 80%;
        height:auto;
        border-width: thin;
        border-style: none;
        outline: none;
        border-color: lightgrey;
        padding-left: 2%;
        padding-top:3%;
        background-color: lightgrey;
    
    }
    .input-field::placeholder {
        color: black;
        opacity:0.7;
        background-color: lightgrey;
        font-family: roboto;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
    }
    .formset{
        width:60%;
        display:flex;
        margin-left:20%;
        margin-right:20%;
    }
    .location{
        width:100%;
        display:flex;
        flex-flow:row wrap;
        background-color: lightgrey;
        border-top:2px solid grey;
        padding-top:10px;
        padding-bottom:10px;
    }
    /* booking text block*/
    .para1{
        font-family:roboto;
        font-weight: 900;
        font-size:25px;
        width:100%;
        padding-left:17%;
        margin-bottom:12%;
    }
    .para2{
        width:100%;
        font-family: roboto;
        font-size:19px;
        color:grey;
        justify-content:center;
        padding-left:7%;
        margin-bottom:-20px;
    }
    .para2-1{
        width:100%;
        font-family: roboto;
        font-size:19px;
        color:grey;
        justify-content:center;
        padding-left:35%;
        margin-bottom:10%;
    }
    /*button*/
    a.btn{
        display:flex;
        width: 60%;
        height: 50px;
        border-width: thin;
        border: 1px solid lightgray;
        background-image:linear-gradient(to top,#9356dc, #FF79DA);
        border-radius: 50px;
        padding-left:6%;
        padding-right:4%;
        padding-top:3%;
        text-decoration: none;
        font-family:roboto;
        font-weight:400;
        font-size:18px;
        color:white;
        margin-left:20%;
        margin-right:20%;
    }
    a.btn:focus{
        opacity:0.8;
        box-shadow: 5px 5px 5px #99e2d0;
    }
    .book-block{
        width:100%;
        margin-top:-15px;
        padding-top:4%;
        padding-bottom:15%;
        background-color: #f2f2f2;
    }
    /* How it works block*/
    .how1{
        font-family: roboto;
        font-weight:900;
        font-size:25px;
        margin-left: 10%;
    }
    .filters{
        width:80%;
        height:70px;
        border-radius:30px;
        border:2px solid #f2f2f2;
        background-color: #f2f2f2;
        display:flex;
        gap:8%;
        text-decoration: none;
        padding-top:6%;
        margin-left:10%;
        margin-bottom:20px;
     }
     .filters:focus{
        box-shadow: 5px 5px 5px grey;
        background-color:lavender;
     }
    .fa-sharp{
        font-size:14px;
    }
    .fa-circle{
        color:#9356DC;
        font-size:24px;
        margin-left:-8%;
    }
    .fa-1{
        position:relative;
        left:50%;
        bottom:7%;
        color:white;
        font-size:12px;
    }
    .fa-2{
        position:relative;
        left:50%;
        bottom:7%;
        color:white;
        font-size:12px;
    }
    .fa-3{
        position:relative;
        left:50%;
        bottom:7%;
        color:white;
        font-size:12px;
    }
    .fa-mobile-phone{
        font-size:16px;
        color:red;
        text-decoration: none;
    }
    .fa-bars{
        color:gray;
    }
    .fa-store{
        font-size:16px;
        color:gray;
    }
    .filternames{
        font-family:roboto;
        font-weight:500;
        font-size:14px;
        color:black;
    }
    .h2{
        margin-left:-5%;
    }
    /*Resturents menus*/
    .r1{
        font-family: roboto;
        font-weight:900;
        font-size:25px;
        margin-left:10%;
    }
    .images{
        height:130px;
        width:100%;
    }
    .lbel{
        position:relative;
        bottom:80%;
        left:70%;
        color:black;
        background-color: #99e2d0;
        padding:5px 20px 5px 20px;
        font-family: roboto;
        font-weight: 700;
    }

    .top-pic{
        height:60%;
        width:100%;
        border:2px solid blue;
    }
    .bottom-text{
        height:40%;
        width:100%;
        margin-top:-5%;
    }
    .bottom-text1{
        height:40%;
        width:100%;
    }
    .line1{
        font-family:roboto;
        font-style: bold;
        font-weight:700;
        font-size:14px;
        color:black;
        margin-bottom:-2%;
        display:flex;
    }
    .line2{
        font-family:roboto;
        font-size:14px;
        color:grey;
        margin-top:-2px;
    }
    .block{
        width:100%;
        display:flex;
        flex-direction:column;
        margin-top:2%;
        padding-left:2%;
    }
    .block1{
        width:100%;
        display:flex;
        flex-direction: row;
        gap:60%;
    }
    .block2{
        width:100%;
        display:flex;
        flex-direction: row;
        gap:50%;
    }
    .block3{
        width:100%;
        display:flex;
        flex-direction: row;
        gap:70%;
    }
    .fa-heart{
        color:black;
        font-size:24px;
        
    }
    .fa-heart:hover{
        background-color:pink;
        background-image:linear-gradient(to top,#9356dc, #FF79DA);
        animation: heart 1000ms;

    }
}.rest-sub-sub1 {
	height: 30%;
	width: 90%;
	display: flex;
	flex-direction: column;
	border: 2px solid #f2f2f2;
    overflow: hidden;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 15px;
	margin: 4% 5% 4% 5%;
    text-decoration: none;

}
.rest-sub-sub1:focus{
    opacity: 0.8;
    box-shadow: 5px 5px 5px gray;
}
.rest-sub{
    width:100%;
    border:2px solid green;
}
/*footer section*/
.one{
    font-family: shrikhand;
    font-style: bold;
    font-weight: 900;
    font-size:30px;
    color:white;
    text-decoration: none;
}
.last{
    width:100%;
    margin-top:15%;
    background-color: black;
    opacity: 0.7;
    padding-left:8%;
    padding-top:2%;
    padding-bottom: 4%;
}
a{
    display: block;
}
.final{
    text-decoration: none;
    
}
.fa-cutlery{
    font-size:20px;
    color:white;
}
.fa-handshake{
    font-size:20px;
    color:white;
     transform: rotate(130deg);
     margin-top:8%;
}
.text{
    font-family: roboto;
    font-style:bold;
    font-weight:900;
    color:white;
    font-size: 20px;
    margin-left:5%;
}
.text1{
    font-family: roboto;
    font-style:bold;
    font-weight:900;
    color:white;
    font-size: 20px;
    margin-left:3%;
    margin-top:4%;
}
.text2{
    font-family: roboto;
    font-style:bold;
    font-weight:900;
    color:white;
    font-size: 20px;
    margin-left:1%;
}
.heart {
     position:relative;
     height:25px;
     width:40px;
  }
  .heart:before,
  .heart:after{
    position:absolute;
    content:"";
    height:20px;
    width:10px;
    border-left:2px solid black;
    border-right:2px solid red;
    
  }
  .heart:before{
    left:15px;
    transform-origin: 0 100%;
    transform:rotate(-45deg);
    border-radius:40px 40px 0 0 ;
    background-color: white;
    
  }
  .heart:after{

    transform-origin: 100% 100%;
    transform:rotate(45deg);
    border-radius:40px 40px 0 0 ;
  }
  
@keyframes heart {
    0%{
        transform: scaleY(0);
        
    }
    17%{
        transform: scaleY(.18);
    }
    24%{
        transform: scaleY(.4);
    }
    46%{
        transform: scaleY(.81);
    }
    100%{
        transform: scaleY(1);
    }
    
}
/*Menu Page 1*/
.fa-arrow-left{
    font-size:20px;
    color:black;
    align-content: center;
    margin-top:90%;
    margin-left:100%;
    margin-right:-20%;
}
.menu1img{
    width:100%;
    height:250px;
    margin-top:-1%;
    position:relative;
    left:0;
}
.mimg1{
    width:100%;
    height:300px;
    object-fit: fill;
}
.homebutton{
    display:flex;
    flex-direction: row;
}
/* menu container*/
.menuhead{
    font-family: shrikhand;
    font-size:25px;
    font-weight:700;
    margin-left: 7%;
    margin-bottom: 10%;
}
.menubox{
    width:100%;
    background-color:#f2f2f2;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position:absolute;
    top:45%;
    padding-top:10%;
    border:2px solid green;
}
.sideh{
    font-size:14px;
    color:black;
    margin-left:7%;
    border-bottom:2px solid #99e2d0
}
/*starter menu buttons*/
.starline1{
    font-family: roboto;
    font-size:16px;
    font-weight:600;
}
.starline3{
    font-weight: 600;
}
.starter1{
    width:90%;
    border:2px solid #f2f2f2;
    background-color: white;
    border-radius: 15px;
    margin-left:5%;
    margin-right:5%;
    padding-left:3%;
    margin-top:5%;
    margin-bottom:5%;
    
}
.starter1:focus,
.starter1:hover{
    padding-right:22%;
}
.secondline{
    display:flex;
    gap:50%;
    margin-top:-5%;
    margin-bottom:3%;
}
.checkmark{
    background-color: white;
    border:2px solid #99e2d0;
    width:50%;
    height:25px;
    border-radius: 90px;
    padding-top:2px;

}
.fa-check{
    color:#99e2d0;
    transition-duration:10s;
    transform: rotate(360deg);
}

.checkbtni{
    float:right;
    width:4%;
    height:65px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:#99e2d0;
    padding-top:6%;
    padding-left:7%;
    margin-left:5%;
    position:relative;
    right:5%;
    bottom:85px;
    visibility:hidden;
}
.checkbtni:hover{
visibility:visible;
 width:20%;
 translate:-8px ease-out;
}
@keyframes checkbtn{
   100%{
        transform: scaleX(1);
        
    }
    81%{
        transform: scaleX(.81);
    }
    42%{
        transform: scaleX(0.42);
    }
    21%{
        transform: scaleX(.21);
    }
    0%{
        transform: scaleX(0);
    }
}
